<div id="bookDetail">
    
    <div layout="row" layout-align="space-between center">
        <md-button class="md-raised" aria-label="back" ng-click="deselectBook()">
            <= Back
        </md-button>
        <div ng-show="$root.isLoggedIn">
            <div ng-show="!editModeEnabled">
                <md-button class="md-raised md-primary" aria-label="edit" ng-click="editModeEnabled = true">
                    edit
                </md-button>
                <md-button class="md-raised md-warn" aria-label="delete" ng-click="deleteBook()">
                    delete
                </md-button>
            </div>
            <div ng-show="editModeEnabled">
                <md-button class="md-raised md-primary" aria-label="confirm" ng-click="updateBook()">
                    confirm
                </md-button>
                <md-button class="md-raised" aria-label="delete" ng-click="editModeEnabled = false">
                    cancel
                </md-button>
            </div>
        </div>
    </div>
    <div ng-show="!editModeEnabled"> 
        <h2>Title: {{currentBook.title}}</h2>
        <p>Author: {{currentBook.author}}</p>
        <p>Description: {{currentBook.description}}</p>
    </div>
    <div ng-show="editModeEnabled" layout="column">   
        <md-input-container>
            <label>Title</label>
            <input ng-model="currentBook.title">
        </md-input-container>
        <md-input-container>
            <label>Author</label>
            <input ng-model="currentBook.author">
        </md-input-container>
        <h6>Description</h6>
        <textarea ng-model="currentBook.description" class="descriptionInput"></textarea>
    </div>
</div>